.box-left {
    float: left;
}

.box-right {
    float: right;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-red {
    color: red;
}

.text-blue {
    color: blue;
}