body{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1170px;
    margin: 0px auto;
    display: flex;
    line-height: 1.5;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    display: block;
}
/* ===================HEADER============= */
#header .logo{
    padding: 13px 67px 13px 0px;
}
.main-menu{
    margin-right: 15px;
}
#header .main-menu .menu li{
    padding: 18px 15px;
}
.main-menu .menu li a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    font-weight: Medium;
}
.main-menu .menu li:hover{
    background: #01a050;
}
#header form{
    padding: 12px 15px 12px 0;
    margin-left: 15px;
    position: relative;
}
input{
    width: 180px;
    height: 36px;
    border: 1px solid #a3a3a3;
    text-transform: capitalize;
    font-style: italic;
}
a.social{
    position: absolute;
    top: 18px;
    right: 24px;
    color: #a3a3a3;
}
/*  */
.menu-child{
    background: #f3f3f3;
}
.menu-child .menu li a{
    font-size: 11px;
    text-decoration: none;
    padding: 10px 5px 10px 0px;
}
.menu-child .menu li a:hover{
    color: #01a050;
}

/*  */
#wrapper-content .container{
    margin-top: 30px;
}
#content{
    width: 830px;
    padding-right: 35px;
    border-right: 1px solid #f5f5f5;
}
#content .post-highlights{
    padding-bottom: 30px;
}
#content .post-highlights .introduce{
    width: 362px;
    margin-left: 30px
}
.post-highlights .introduce .post-title{
    text-decoration:none;
    color: #000000;
    font-size: 24px;
}
.post-highlights .introduce .post-title:hover{
    color: #01a050;
}
.post-excrpt{
    color: #3f3f3f;
    font-size: 15px;
}
.break-news-left{
    margin-right: 15px;
}
.break-news-right{
    margin-left: 15px;
}
 .break-news-left .list-post li:first-child{
    margin-bottom: 30px;
}
.break-news-right .list-post li:first-child{
    margin-bottom: 30px;
}
.break-news .break-news-left .post-title{
    display: block;
    text-decoration:none;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
}
.break-news .break-news-right .post-title{
    display: block;
    text-decoration:none;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
}
ul.list-post li a.post-title:hover{
    color: #01a050;
}
.box-highlights{
    padding-bottom: 30px;
    border-bottom: 1px solid #01a050;
}

/*  */
.box-case{
    margin-top: 20px;
}
.box-case ul.list-post li{
    padding: 20px 0px;
}
ul.list-post li{
    display: flex;
}
.box-infomation{
    margin-left: 20px;
}
.box-infomation .post-title{
    color: #000000;
    font-size: 20px;
    text-decoration: none;
}
.box-infomation .post-title:hover{
    color: #01a050;
}
.box-infomation .plugin{
    display: flex;
}
.plugin .post-day{
    margin: 0;
    padding-left: 8px;
    color: #959595;
}
.plugin i{
    font-size: 20px;
    color: #959595;
}
.post-excrpt{
    font-size: 14px;
    color: #464646;
    margin: 0;
}
/* -----------------END WRAPPER-CONTENT---------------- */
/* =================SIDEBAR=============== */
#sidebar{
    padding-left: 35px;
}
.banner-top{
    margin-bottom: 40px;
}
.box-head h3{
    margin: 0;
    padding: 17px 0px;
    border-bottom: 1px solid #01a050;
    font-size: 21px;
    color: #000000;
    text-transform: uppercase
}
.box-body{
    padding-right: 15px;
}
.box-body ul.list-post li{
    margin-top: 22px;
}
.post-thumb{
    padding-right: 18px;
}
.post-title{
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}
.post-title:hover{
    color: #01a050;
    text-decoration: none;
}
.banner-bottom{
    margin-top: 50px;
}

/* ----------------END WRAPPER-CONTENT---------------- */
/* ===================FOOTER================= */
#footer{
    background: #01a050;
    margin-top: 80px;
}
#footer .head{
    margin-top: 35px;
}
#footer .head h3{ 
    font-size: 21px;
    color: #ffffff;
    padding: 15px 0px;
    text-transform: uppercase;
    margin: 0;
}
.box-about-us{
    width: 293px;
    padding-right: 15px;

}
.box-body{
    margin-top: 15px;
}
.box-body .introduce{
    font-size: 15px;
    color: #ffffff;
}
.gmail,.number-phone{
    font-size: 15px;
    color: #ffffff;
}
.social{
    color: #ffffff;
    padding-right: 10px;
}
.box-category{
    width: 195px;
    padding: 0px 15px;
}
.body .menu li{
    display: flex;
    padding-bottom: 20px;
}
.social,a{
    color: #ffffff;
}
a:hover{
    text-decoration: none;
}
.featured-news{
    width: 390px;
    padding: 0px 15px;
}
.box-fanpage{
    width: 292px;
    padding-left: 15px;
}

/* ----------------------------END FOOTER-------------- */
/* ======================COPPYRIGHT===================== */
#coppyright .container{
    margin: 0;
    display: block;
}
#coppyright .container p{
    text-align: center;
    color: #454545;
    font-size: 14px;
    padding: 10px;
    margin: 0;
}

