body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.container {
    width: 1200px;
    margin: 0px auto;
    padding-right: 15px;
    padding-left: 15px;
    line-height: 1.5;
}

#header {
    flex: 100%;
    height: 209px;
    background: #f24137;
}

.box-header-child {
    justify-content: space-between;
    padding-top: 10px;
}

.box-header-child p {
    color: #ffffff;
}

ul.main-menu li {
    list-style: none;
    padding-right: 20px;
}

ul.main-menu li a {
    text-decoration: none;
    color: #ffffff;
}

.logo {
    justify-content: space-between;
}

form {
    padding-top: 20px;
    position: relative;
}

form.search input {
    width: 500px;
}

form.search button {
    position: absolute;
    top: 22px;
    right: 5px;
    background: #f24137;
    border: none;
}

.menu {
    justify-content: space-between;
    padding-top: 31px;
}

.menu ul.main-menu li a i {
    background: none;
    padding-right: 15px;
    border: none;
    font-size: 24px;
}

.main-menu {
    padding-left: 0px;
}

ul.main-menu li ul.menu-child li a {
    color: #333333;
}

ul.main-menu li ul.menu-child li {
    padding: 8px 0px;
    margin-top: 1px;
    text-align: center;
    background: #ffffff;
    display: block;
}

ul.main-menu li ul.menu-child li {
    display: none;
}

ul.main-menu li:hover ul.menu-child li {
    display: block;
}


/* end header */


/* ==============wrapper====================== */


/* ===============baner đầu =================== */

.banner {
    position: relative;
    min-height: 490px;
    /* background: #eff0f3; */
}

.banner .banner-top {
    position: absolute;
    top: 0;
    right: 266px;
}

.banner .banner-top .content>a {
    display: block;
    padding: 15px 0px 20px 15px;
}

.banner .banner-top .content .banner-child {
    display: flex;
}

.banner .banner-top .content .banner-child a {
    padding: 0px 7px 0px 15px;
}

.sidebar a {
    display: block;
    padding: 15px 0px 0px 15px;
}