/* ========Tạo các class chung========== */

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-justify {
    text-align: justify;
}

.text-color {
    color: #f8f8f8;
}

.text-arial {
    font-family: Arial, Helvetica, sans-serif;
}

.background-color {
    background-color: #0073aa;
}

.box-width {
    width: 960px;
}