.em{
    min-height: 50px;
    width:100%;
    background: green;
}
@media screen and (max-width:400px) {
    .em{
        opacity: 0.5;
    }
}
.rem{
    min-height: 50px;
    background: yellow;
    /* @media (max-width:25rem) {
        opacity:0.5;
    } */
}
@media only screen and (max-width:25rem) {
    .rem{
        opacity: 0.5;
    }
}

.px{
    min-height: 50px;
    background: blue;
}
@media only screen and (max-width:25rem) {
    .px{
        opacity: 0.5;
    }
}
