/* RESPONSIVE */

/* pc */
@media (min-width:1024px) {
    #header .mobile-menu{
        display: none;
    }
}

/* tablet and mobile */

@media (max-width:1023px) {
    .sub-nav li a{
        padding: 5px 0px;
        display: block;
    }
    .btn{
        padding: 16px 24px;
    }

    .form-info-contact{
        line-height: 2;
    }
    .form-icon-text{
        padding: 14px 5px;
    }

    #contact .adress-email,
    #contact .number-phone{
        color: rgb(12, 58, 156);
        opacity:0.8;
        
    }

    #contact .number-phone:hover
    #contact .adress-email:hover{
        opacity: 1;
    }
    .footer .social-list{
        font-size: 39px;
    }

    .footer .social-list-item{
        margin: 8px;
    }


    .footer .copyright{
        font-size: 21px;
    }

    .footer .copyright-item{
        display: inline-block;
        padding: 16px 0px;
    }


}

/* tablet (min-width 740px - max-width <1024px */
@media (min-width:741px) and (max-width:1023px){
    #header .mobile-menu{
        display: none;
    }

    #content .content-section {
        max-width: 100%;
    }
 }

 /* Mobile */
 @media (max-width:740px) {
     .s-full-width{
         width: 100%;
     }

     .s-col-full{
         width: 100%  !important;
     }

     .s-mb-16{
         margin-bottom: 16px !important;
     }

     .s-mt-8{
         margin-top: 8px !important;
     }
    #header{
        overflow: hidden;
    }
    #nav{
        display: block;
    }
    #nav>li{
        display: block;
    }

    #nav>li:first-child{
        display: inline-block;
    }
    #header .nav__search{
        display: none;
    }

    #header .sub-nav{
        position: initial;
        background-color: #333;
    }

    .sub-nav li a{
        color: #fff;
        padding: 14px 40px;
    }

    #nav>li:hover>a, .sub-nav li:hover a {
        border: 1px solid #000;
    }

    #content .content-section {
        width: 100%;
        max-width: 100%;
    }

    .member-item{
        width: 100%;
    }

    #content .members-img{
        margin-bottom: 16px;
        width: 60%;
    }
 }