*{
    box-sizing: border-box;
}

.item{
    background: tomato;
    line-height: 180px;
    font-size: 20px;
    height: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.wrapper{
    display: flex;
    padding: 0 32px;
}
.sidebar{
    width: 300px;
    background: #666;
}
.content{
    flex: 2;
}
@media (min-width:740px) and (max-width:1112px) {
    .hide-on-tablet{
        display:none
    }
}
@media (max-width:739px) {
    .hide-on-mobile{
        display: none;
    }
}