.container{
    width: 1170px;
    margin: 0px auto;
}
.nav{
    background: rgb(41, 40, 40);
    display: flex;
}
.list__nav{
    display: flex;
}
.list__nav li{
    padding: 5px 10px;
    list-style: none;
}
.nav__link{
    text-decoration: none;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
}
.content__post-top{
    text-align: center;
}
h1{
    color: tomato;
    font-size: 30px;
}
.link__thumb{
    display: block;
   text-align: center;
}
.content__post-bottom{
    text-align: center;
}

.nav__barst-btn{
    width: 20px;
    height: 20px;
    color: white;
    padding-left: 20px;
    margin-top: 18px;
    display: none
}
.nav__barst-btn:hover{
    cursor: pointer;
}
.nav__overlay{
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgb(0 0 0);
    opacity: 0.3;
    display: none;
    animation:fadeIn linear 0.3s;
}
.nav__mobile{
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 320px;
    max-width: 100%;
    background: white;
    transform: translateX(-320px);
    opacity: 0;
   
    transition: transform linear 0.3s , opacity linear 0.3s;
}
.list__nav-mobile{
    margin-top: 40px;
}
.list__nav-mobile li{
    list-style: none;
}
.nav__mobile-link{
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    display: block;
    color: black;
    text-transform: capitalize
}
.nav__mobile-link:hover{
    background: #666;
    color: white;
}
.nav__mobile-close{
    width: 23px;
    height: 30px;
    position: absolute;
    top: 6px;
    right: 10px;
    color: #666;
    padding: 5px 10px;
}
.nav__mobile-close:hover{
    color: white;
    background: red;
    cursor:pointer;
}d
#nav__mobile-input{
    display: none;
}
#nav__mobile-input:checked ~ .nav__overlay{
    display: block;
}
#nav__mobile-input:checked ~ .nav__mobile{
    transform: translateX(0px);
    opacity: 1;
}
@media only screen and (max-width:46.25em){
    .nav__pc{
        display: none;
    }
    .nav__barst-btn{
        display: block;
        padding: 15px;
        margin-top: 0px;
    }
    .container{
        width: 644px;
    }
    h1{
        font-size: 16px;
        color: greenyellow;
        text-align: center;
    }
}
@keyframes fadeIn {
    fom{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}
@media screen and (max-width:739px){
    .container{
        width: 600px;
    }
    h1{
        font-size: 14px;
        text-align: center;
        color: #666;
    }
    
}
@media screen and (min-width:740px) and (max-width:1023px){
       .container{
         width: 740px;
       }
       h1{
           font-size: 18px;
           color: tomato;
           text-align: center;
       }
}
@media screen and (min-width:1024px) and (max-width:1366px){
    .container{
        width: 948px;
    }
    h1{
        font-size: 20px;
        color: teal;
        text-align:center;
    }
}

