

/*
=======id ưu tiên hơn class========
.content{
    color: black;
}
#aitem{
    color: aliceblue;
} */


/* 
======= chi tiết ưu tiên hơn chung chung======
h1#aitem{
    color: blue;
}
#aitem{
    color: red;
} */

/*
======cùng một selector thì thằng bên dưới ưu tiên hơn thằng bên trên========
#aitem{
    color: yellow;
}
#aitem{
    color: violet;
} */
