.container{
    width: 1170px;
    margin: 0px auto;
}
.container__product{
 display: flex;
 margin-top: 50px;
}
.container__product--img{
    padding-right: 15px;
}
.container__product--ifo{
    padding-left: 15px;
}
.info{
    text-transform: uppercase;
    color: tomato;
    font-size: 24px;
    font-weight: bold;
}
.excrpt{
    font-size: 14px;
    font-weight: lighter;
    color: black;
}
/* mobile width < 740px */
@media only screen and (max-width:46.1875em){
    /* iphone */
    .container__product{
        flex-direction: column-reverse;
        
    }
    .img{
        width: 450px;
        display: block;
        text-align: center;
    }
    .container__product--info{
        width: 450px;
        padding-left: 0px;
        text-align: center;
    }
    .info{
        color: brown;
        font-size: 18px;
        font-weight: bold;
    }
}

/* ipad width > 740px and width <1024 */
@media only screen and (min-width : 46.25em) and (max-width:63.9375em){
    .container-product{
        flex-direction: row;
        justify-content: space-between;
    }
    .container__product--info{
        width: 450px;
        padding-left:15px;
    }
    .excrpt{
        text-align: center;
    }
    .info{
        font-size: 20px;
        color: coral;
        font-weight: bold;
    }
    h2{
        margin-top: 0px;
        margin-bottom: 30px;
    }
}
/* pc width > 1024px */
@media only screen and (min-width:63.9375em){
    .container__product--info{
        width: 550px;
        padding-left:15px;
    }
    .info{
        color: cyan;
    }
    h2{
        margin: 0px 0px 30px 0px;
    }
}